#**Notebook: Data collection**

Autora: Vanessa

Fecha: 2026-01-21

Objetivo: Cargar y realizar inspecci贸n inicial del dataset

_______________________
 Contenido
1. Configuraci贸n del entorno
2. Carga de datos
3. Inspecci贸n inicial
4. Resumen estad铆stico
5. Conclusiones y pr贸ximos pasos


**1. Configuraci贸n del entorno**

In [8]:
import pandas as pd
import numpy as np

**2. Carga de datos**

In [9]:
df = pd.read_csv("/content/data.csv")
df.head()

,cliente_id,genero,edad,pais,ciudad,segmento_cliente,es_mayor,tiene_pareja,tiene_dependientes,latitud,...,dias_mora,cambio_plan_reciente,downgrade_reciente,visitas_app_mensual,tiempo_sesion_promedio,features_nuevas_usadas,ultimo_contacto_soporte,competidores_area,ofertas_recibidas,precio_vs_mercado
0,0002-ORFBO,Femenino,36.0,USA,New York,PYME,0,Si,Si,40.726363,...,0,1,0,66,11.51,3,2025-11-27,4,0,Competitivo
1,0003-MKNFE,Masculino,45.0,USA,New York,Residencial,0,No,No,40.678022,...,0,0,0,51,20.17,6,2025-11-10,1,2,Alto
2,0004-TLHLJ,Masculino,36.0,USA,New York,PYME,0,No,No,40.638134,...,0,0,0,5,109.44,5,2025-10-29,6,2,Competitivo
3,0011-IGKFF,Masculino,NaN,USA,New York,PYME,1,Si,No,40.683321,...,0,0,0,9,90.94,0,2025-11-14,2,3,Competitivo
4,0013-EXCHZ,Femenino,48.0,USA,New York,PYME,1,Si,No,40.764546,...,0,0,0,37,113.28,8,2025-08-12,1,0,Alto

**2. Inspecci贸n inicial**

In [4]:
df.shape

(9701, 67)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9701 entries, 0 to 9700
Data columns (total 67 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cliente_id               9701 non-null   object
 1   genero                   9701 non-null   object
 2   edad                     8925 non-null   float64
 3   pais                     9701 non-null   object
 4   ciudad                   9701 non-null   object
 5   segmento_cliente         9701 non-null   object
 6   es_mayor                 9701 non-null   int64
 7   tiene_pareja             9701 non-null   object
 8   tiene_dependientes       9701 non-null   object
 9   latitud                  9701 non-null   float64
 10  longitud                 9701 non-null   float64
 11  borough                  9701 non-null   object
 12  codigo_postal            9701 non-null   int64
 13  estado                   9701 non-null   object
 14  fecha_registro           9701 non-null   object
 15  ingreso_mediano          9701 non-null   float64
 16  densidad_poblacional     9701 non-null   float64
 17  tipo_contrato            9701 non-null   object
 18  antiguedad               9701 non-null   int64
 19  cargo_mensual            9701 non-null   float64
 20  ingresos_totales         9701 non-null   float64
 21  metodo_pago              9701 non-null   object
 22  canal_registro           9701 non-null   object
 23  errores_pago             9701 non-null   int64
 24  descuento_aplicado       9701 non-null   object
 25  aumento_precio_3m        9701 non-null   object
 26  facturacion_sin_papel    9701 non-null   object
 27  servicio_telefono        9701 non-null   object
 28  lineas_multiples         9701 non-null   object
 29  tipo_internet            9701 non-null   object
 30  seguridad_online         9701 non-null   object
 31  respaldo_online          9701 non-null   object
 32  proteccion_dispositivo   9701 non-null   object
 33  soporte_tecnico          9701 non-null   object
 34  streaming_tv             9701 non-null   object
 35  streaming_peliculas      9701 non-null   object
 36  nivel_riesgo             9701 non-null   object
 37  score_riesgo             9701 non-null   float64
 38  conexiones_mensuales     9701 non-null   int64
 39  dias_activos_semanales   9701 non-null   int64
 40  promedio_conexion        9701 non-null   float64
 41  caracteristicas_usadas   9701 non-null   int64
 42  tasa_crecimiento_uso     9701 non-null   float64
 43  dias_ultima_conexion     9216 non-null   float64
 44  tickets_soporte          9701 non-null   int64
 45  tiempo_resolucion        9701 non-null   float64
 46  tipo_queja               9701 non-null   object
 47  escaladas                9701 non-null   int64
 48  puntuacion_csat          9701 non-null   float64
 49  puntuacion_nps           9701 non-null   int64
 50  tasa_apertura_email      9701 non-null   float64
 51  tasa_clics_marketing     9701 non-null   float64
 52  respuesta_encuesta       8246 non-null   object
 53  referencias_hechas       8537 non-null   float64
 54  cancelacion              9701 non-null   int64
 55  fecha_ultimo_pago        9701 non-null   object
 56  intentos_cobro_fallidos  9701 non-null   int64
 57  dias_mora                9701 non-null   int64
 58  cambio_plan_reciente     9701 non-null   int64
 59  downgrade_reciente       9701 non-null   int64
 60  visitas_app_mensual      9701 non-null   int64
 61  tiempo_sesion_promedio   9701 non-null   float64
 62  features_nuevas_usadas   9701 non-null   int64
 63  ultimo_contacto_soporte  9701 non-null   object
 64  competidores_area        9701 non-null   int64
 65  ofertas_recibidas        9701 non-null   int64
 66  precio_vs_mercado        9701 non-null   object
dtypes: float64(17), int64(19), object(31)
memory usage: 5.0+ MB

**4. Resumen estad铆stico**

In [6]:
df.describe()

,edad,es_mayor,latitud,longitud,codigo_postal,ingreso_mediano,densidad_poblacional,antiguedad,cargo_mensual,ingresos_totales,...,cancelacion,intentos_cobro_fallidos,dias_mora,cambio_plan_reciente,downgrade_reciente,visitas_app_mensual,tiempo_sesion_promedio,features_nuevas_usadas,competidores_area,ofertas_recibidas
count,8925.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,...,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000,9701.000000
mean,43.971092,0.161324,40.680135,-74.113888,10832.161324,66460.674157,14736.604474,32.898876,89.254500,3208.115742,...,0.156891,0.996701,7.632203,0.256365,0.213586,49.405731,62.678872,4.984641,4.503762,0.981858
std,12.248348,0.367848,0.151019,0.769997,514.281652,14676.147445,7302.961070,25.605834,49.153898,3469.562390,...,0.363717,1.067799,10.032225,0.436648,0.409859,28.884164,33.236751,3.153246,2.284261,1.065524
min,18.000000,0.000000,40.112385,-77.519855,10001.000000,42000.000000,3200.000000,0.000000,15.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.010000,0.000000,1.000000,0.000000
25%,35.000000,0.000000,40.634279,-73.997309,10312.000000,63000.000000,8500.000000,9.000000,48.280000,488.040000,...,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,34.230000,2.000000,2.000000,0.000000
50%,44.000000,0.000000,40.705993,-73.942995,11114.000000,72000.000000,13000.000000,29.000000,90.620000,1705.550000,...,0.000000,1.000000,5.000000,0.000000,0.000000,50.000000,62.360000,5.000000,5.000000,1.000000
75%,53.000000,0.000000,40.758109,-73.877799,11239.000000,82000.000000,14000.000000,56.000000,127.660000,5155.840000,...,0.000000,2.000000,15.000000,1.000000,0.000000,74.000000,91.690000,8.000000,6.000000,2.000000
max,74.000000,1.000000,40.910207,-73.701843,11696.000000,85000.000000,28000.000000,179.000000,342.320124,29237.580000,...,1.000000,3.000000,30.000000,1.000000,1.000000,99.000000,119.990000,10.000000,8.000000,3.000000

**5. Conclusiones y pr贸ximos pasos**

El conjunto de datos contiene 9,701 registros y 67 variables, lo que indica un volumen de informaci贸n suficiente para entrenar modelos de machine learning con buen nivel de generalizaci贸n.

Las variables est谩n compuestas por una mezcla de tipos de datos: 31 variables categ贸ricas (object), 19 variables enteras (int64), 17 variables num茅ricas continuas (float64).

Esto sugiere que ser谩 necesario aplicar t茅cnicas de codificaci贸n de variables categ贸ricas (como One-Hot Encoding o Target Encoding) antes de entrenar modelos que no acepten texto.

Respecto a la calidad de los datos, se tiene que la mayor铆a de las columnas presentan valores completos, sin embargo, se identifican algunas variables con datos faltantes:`edad`, `dias_ultima_conexion`,
`respuesta_encuesta` y `referencias_hechas`.

Aunque el porcentaje de valores faltantes no es cr铆tico, ser谩 necesario definir una estrategia de imputaci贸n o eliminaci贸n con el fin de evitar sesgos o p茅rdida de informaci贸n.

Dado el alto n煤mero de variables presentes en el dataset (67 columnas), es probable que exista redundancia de informaci贸n entre algunas de ellas, especialmente entre variables financieras, de uso del servicio y de interacci贸n con soporte. Esta situaci贸n puede generar multicolinealidad, donde dos o m谩s variables est谩n altamente correlacionadas, lo que puede afectar negativamente el desempe帽o e interpretabilidad de ciertos modelos, en particular los modelos lineales.


Pr贸ximos pasos:
* Notebook 02: An谩lisis de calidad de datos
* Notebook 03: Limpieza de datos
* Notebook 04: Transformaci贸n de datos