#Retain AI

#üõ†Ô∏è Preparaci√≥n de los Datos

##Importaci√≥n

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/customer_dataset.csv')

In [ ]:
df.head()

,cliente_id,genero,edad,pais,ciudad,segmento_de_cliente,meses_permanencia,canal_de_registro,tipo_contrato,conecciones_mensuales,...,tiempo_promedio_de_resoluci√≥n,tipo_de_queja,puntuacion_csates,escaladas,tasa_apertura_email,tasa_clics_marketing,puntuacion_nps,respuesta_de_la_encuesta,recuento_de_referencias,Abandonar
0,CUST_00001,Masculino,68,Banglad√©s,Londres,SME,22,Web,Mensual,26,...,13.354360,Servicio,4.0,0,0.71,0.40,27,Satisfecho,1,0
1,CUST_00002,Femenino,57,Canad√°,Sydney,Individual,9,Mobile,Mensual,7,...,25.140088,Facturaci√≥n,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Masculino,24,Alemania,New York,SME,58,Web,Anual,19,...,27.572928,Servicio,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Masculino,49,Australia,Dhaka,Individual,19,Mobile,Anual,34,...,26.420822,T√©cnico,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Masculino,65,Banglad√©s,Delhi,Individual,52,Web,Mensual,20,...,26.674579,T√©cnico,4.0,0,0.65,0.44,21,Insatisfecho,1,0

##An√°lisis exploratorio

In [ ]:
df.columns

Index(['cliente_id', 'genero', 'edad', 'pais', 'ciudad', 'segmento_de_cliente',
       'meses_permanencia', 'canal_de_registro', 'tipo_contrato',
       'conecciones_mensuales', 'dias_activos_semanales', 'promedio_coneccion',
       'caracter√≠sticas_usadas', 'tasa_crecimiento_uso', 'ultima_coneccion',
       'cuota_mensual', 'ingresos_totales', 'm√©todo_de_pago',
       'errores_de_pago', 'descuento_aplicado', 'aumento_ultimos_3_meses',
       'tickets_de_soporte', 'tiempo_promedio_de_resoluci√≥n', 'tipo_de_queja',
       'puntuacion_csates', 'escaladas', 'tasa_apertura_email',
       'tasa_clics_marketing', 'puntuacion_nps', 'respuesta_de_la_encuesta',
       'recuento_de_referencias', 'Abandonar'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cliente_id                     10000 non-null  object
 1   genero                         10000 non-null  object
 2   edad                           10000 non-null  int64
 3   pais                           10000 non-null  object
 4   ciudad                         10000 non-null  object
 5   segmento_de_cliente            10000 non-null  object
 6   meses_permanencia              10000 non-null  int64
 7   canal_de_registro              10000 non-null  object
 8   tipo_contrato                  10000 non-null  object
 9   conecciones_mensuales          10000 non-null  int64
 10  dias_activos_semanales         10000 non-null  int64
 11  promedio_coneccion             10000 non-null  float64
 12  caracter√≠sticas_usadas         10000 non-null  int64
 13  tasa_crecimiento_uso           10000 non-null  float64
 14  ultima_coneccion               10000 non-null  int64
 15  cuota_mensual                  10000 non-null  int64
 16  ingresos_totales               10000 non-null  int64
 17  m√©todo_de_pago                 10000 non-null  object
 18  errores_de_pago                10000 non-null  int64
 19  descuento_aplicado             10000 non-null  object
 20  aumento_ultimos_3_meses        10000 non-null  object
 21  tickets_de_soporte             10000 non-null  int64
 22  tiempo_promedio_de_resoluci√≥n  10000 non-null  float64
 23  tipo_de_queja                  7955 non-null   object
 24  puntuacion_csates              10000 non-null  float64
 25  escaladas                      10000 non-null  int64
 26  tasa_apertura_email            10000 non-null  float64
 27  tasa_clics_marketing           10000 non-null  float64
 28  puntuacion_nps                 10000 non-null  int64
 29  respuesta_de_la_encuesta       10000 non-null  object
 30  recuento_de_referencias        10000 non-null  int64
 31  Abandonar                      10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [ ]:
# Verificar si hay valores √∫nicos en cada columna
for col in df.columns:
  print(f"Valores √∫nicos en la columna'{col}': {df[col].nunique()}")
  if df[col].nunique() < 50: # Imprima los valores solamente si no hay muchos
    print(df[col].unique())
    print('-' * 50)  # L√≠nea divisoria para mejor visualizaci√≥n

Valores √∫nicos en la columna'cliente_id': 10000
Valores √∫nicos en la columna'genero': 2
['Masculino' 'Femenino']
--------------------------------------------------
Valores √∫nicos en la columna'edad': 57
Valores √∫nicos en la columna'pais': 7
['Banglad√©s' 'Canad√°' 'Alemania' 'Australia' 'India' 'USA' 'UK']
--------------------------------------------------
Valores √∫nicos en la columna'ciudad': 7
['Londres' 'Sydney' 'New York' 'Dhaka' 'Delhi' 'Toronto' 'Berlin']
--------------------------------------------------
Valores √∫nicos en la columna'segmento_de_cliente': 3
['SME' 'Individual' 'Enterprise']
--------------------------------------------------
Valores √∫nicos en la columna'meses_permanencia': 59
Valores √∫nicos en la columna'canal_de_registro': 3
['Web' 'Mobile' 'Referral']
--------------------------------------------------
Valores √∫nicos en la columna'tipo_contrato': 3
['Mensual' 'Anual' 'Trimestral']
--------------------------------------------------
Valores √∫nicos en la columna'conecciones_mensuales': 53
Valores √∫nicos en la columna'dias_activos_semanales': 8
[7 5 6 3 4 2 0 1]
--------------------------------------------------
Valores √∫nicos en la columna'promedio_coneccion': 9777
Valores √∫nicos en la columna'caracter√≠sticas_usadas': 15
[ 5  1  6  2  8  3  7  4  9 11 10 14 12 13 15]
--------------------------------------------------
Valores √∫nicos en la columna'tasa_crecimiento_uso': 104
Valores √∫nicos en la columna'ultima_coneccion': 71
Valores √∫nicos en la columna'cuota_mensual': 6
[ 30  20  50  70  10 100]
--------------------------------------------------
Valores √∫nicos en la columna'ingresos_totales': 221
Valores √∫nicos en la columna'm√©todo_de_pago': 3
['PayPal' 'Tarjeta' 'Transferencia Bancarias']
--------------------------------------------------
Valores √∫nicos en la columna'errores_de_pago': 6
[1 2 0 3 4 5]
--------------------------------------------------
Valores √∫nicos en la columna'descuento_aplicado': 2
['Si' 'No']
--------------------------------------------------
Valores √∫nicos en la columna'aumento_ultimos_3_meses': 2
['No' 'Si']
--------------------------------------------------
Valores √∫nicos en la columna'tickets_de_soporte': 8
[4 1 3 0 2 5 6 7]
--------------------------------------------------
Valores √∫nicos en la columna'tiempo_promedio_de_resoluci√≥n': 9883
Valores √∫nicos en la columna'tipo_de_queja': 3
['Servicio' 'Facturaci√≥n' 'T√©cnico' nan]
--------------------------------------------------
Valores √∫nicos en la columna'puntuacion_csates': 5
[4. 2. 3. 5. 1.]
--------------------------------------------------
Valores √∫nicos en la columna'escaladas': 5
[0 1 2 3 4]
--------------------------------------------------
Valores √∫nicos en la columna'tasa_apertura_email': 81
Valores √∫nicos en la columna'tasa_clics_marketing': 50
Valores √∫nicos en la columna'puntuacion_nps': 197
Valores √∫nicos en la columna'respuesta_de_la_encuesta': 3
['Satisfecho' 'Neutral' 'Insatisfecho']
--------------------------------------------------
Valores √∫nicos en la columna'recuento_de_referencias': 8
[1 2 0 3 5 4 6 7]
--------------------------------------------------
Valores √∫nicos en la columna'Abandonar': 2
[0 1]
--------------------------------------------------

In [ ]:
# Duplicados
print("N√∫mero de duplicados", df.duplicated().sum())

N√∫mero de duplicados 0

In [ ]:
# Nulos
print("N√∫mero de Nulos", df.isnull().sum())

N√∫mero de Nulos cliente_id                          0
genero                              0
edad                                0
pais                                0
ciudad                              0
segmento_de_cliente                 0
meses_permanencia                   0
canal_de_registro                   0
tipo_contrato                       0
conecciones_mensuales               0
dias_activos_semanales              0
promedio_coneccion                  0
caracter√≠sticas_usadas              0
tasa_crecimiento_uso                0
ultima_coneccion                    0
cuota_mensual                       0
ingresos_totales                    0
m√©todo_de_pago                      0
errores_de_pago                     0
descuento_aplicado                  0
aumento_ultimos_3_meses             0
tickets_de_soporte                  0
tiempo_promedio_de_resoluci√≥n       0
tipo_de_queja                    2045
puntuacion_csates                   0
escaladas                           0
tasa_apertura_email                 0
tasa_clics_marketing                0
puntuacion_nps                      0
respuesta_de_la_encuesta            0
recuento_de_referencias             0
Abandonar                           0
dtype: int64

###An√°lisis de los nulos

In [ ]:
nulos_tipo_queja = df[df['tipo_de_queja'].isnull()]
nulos_tipo_queja.tail()

,cliente_id,genero,edad,pais,ciudad,segmento_de_cliente,meses_permanencia,canal_de_registro,tipo_contrato,conecciones_mensuales,...,tiempo_promedio_de_resoluci√≥n,tipo_de_queja,puntuacion_csates,escaladas,tasa_apertura_email,tasa_clics_marketing,puntuacion_nps,respuesta_de_la_encuesta,recuento_de_referencias,Abandonar
9972,CUST_09973,Masculino,52,Banglad√©s,New York,SME,23,Mobile,Trimestral,25,...,14.292726,NaN,4.0,1,0.65,0.31,50,Neutral,1,0
9986,CUST_09987,Masculino,45,Banglad√©s,Delhi,SME,55,Referral,Trimestral,28,...,33.767893,NaN,3.0,0,0.81,0.02,-84,Insatisfecho,3,0
9990,CUST_09991,Femenino,19,India,Dhaka,SME,25,Web,Mensual,17,...,46.607105,NaN,2.0,0,0.53,0.04,25,Neutral,2,1
9996,CUST_09997,Masculino,26,USA,Toronto,Individual,42,Mobile,Anual,13,...,40.092087,NaN,4.0,0,0.48,0.06,28,Insatisfecho,2,0
9998,CUST_09999,Femenino,30,USA,Delhi,Individual,52,Web,Mensual,14,...,20.544921,NaN,2.0,0,0.25,0.31,58,Neutral,1,1

In [ ]:
nulos_tipo_queja.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2045 entries, 12 to 9998
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cliente_id                     2045 non-null   object
 1   genero                         2045 non-null   object
 2   edad                           2045 non-null   int64
 3   pais                           2045 non-null   object
 4   ciudad                         2045 non-null   object
 5   segmento_de_cliente            2045 non-null   object
 6   meses_permanencia              2045 non-null   int64
 7   canal_de_registro              2045 non-null   object
 8   tipo_contrato                  2045 non-null   object
 9   conecciones_mensuales          2045 non-null   int64
 10  dias_activos_semanales         2045 non-null   int64
 11  promedio_coneccion             2045 non-null   float64
 12  caracter√≠sticas_usadas         2045 non-null   int64
 13  tasa_crecimiento_uso           2045 non-null   float64
 14  ultima_coneccion               2045 non-null   int64
 15  cuota_mensual                  2045 non-null   int64
 16  ingresos_totales               2045 non-null   int64
 17  m√©todo_de_pago                 2045 non-null   object
 18  errores_de_pago                2045 non-null   int64
 19  descuento_aplicado             2045 non-null   object
 20  aumento_ultimos_3_meses        2045 non-null   object
 21  tickets_de_soporte             2045 non-null   int64
 22  tiempo_promedio_de_resoluci√≥n  2045 non-null   float64
 23  tipo_de_queja                  0 non-null      object
 24  puntuacion_csates              2045 non-null   float64
 25  escaladas                      2045 non-null   int64
 26  tasa_apertura_email            2045 non-null   float64
 27  tasa_clics_marketing           2045 non-null   float64
 28  puntuacion_nps                 2045 non-null   int64
 29  respuesta_de_la_encuesta       2045 non-null   object
 30  recuento_de_referencias        2045 non-null   int64
 31  Abandonar                      2045 non-null   int64
dtypes: float64(6), int64(14), object(12)
memory usage: 527.2+ KB

In [ ]:
df['tipo_de_queja'].isnull().mean()

np.float64(0.2045)

In [ ]:
df.shape

(10000, 32)

Se tienen 10.000 registros y 32 columnas.

In [ ]:
df['tipo_de_queja'].notnull().sum()

np.int64(7955)

7.955 registros tienen valor y 2.045 registros son NaN

In [ ]:
df['tipo_de_queja'].unique()

array(['Servicio', 'Facturaci√≥n', 'T√©cnico', nan], dtype=object)

El problema es de definici√≥n del dato.

In [ ]:
df['tipo_de_queja'].dtype

dtype('O')

Es una columna de texto (object).

In [ ]:
[col for col in df.columns if 'queja' in col.lower()]

['tipo_de_queja']

In [ ]:
df['tipo_de_queja'] = df['tipo_de_queja'].fillna('No clasificada')

El campo tipo_de_queja puede venir nulo cuando la queja no fue clasificada en origen.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cliente_id                     10000 non-null  object
 1   genero                         10000 non-null  object
 2   edad                           10000 non-null  int64
 3   pais                           10000 non-null  object
 4   ciudad                         10000 non-null  object
 5   segmento_de_cliente            10000 non-null  object
 6   meses_permanencia              10000 non-null  int64
 7   canal_de_registro              10000 non-null  object
 8   tipo_contrato                  10000 non-null  object
 9   conecciones_mensuales          10000 non-null  int64
 10  dias_activos_semanales         10000 non-null  int64
 11  promedio_coneccion             10000 non-null  float64
 12  caracter√≠sticas_usadas         10000 non-null  int64
 13  tasa_crecimiento_uso           10000 non-null  float64
 14  ultima_coneccion               10000 non-null  int64
 15  cuota_mensual                  10000 non-null  int64
 16  ingresos_totales               10000 non-null  int64
 17  m√©todo_de_pago                 10000 non-null  object
 18  errores_de_pago                10000 non-null  int64
 19  descuento_aplicado             10000 non-null  object
 20  aumento_ultimos_3_meses        10000 non-null  object
 21  tickets_de_soporte             10000 non-null  int64
 22  tiempo_promedio_de_resoluci√≥n  10000 non-null  float64
 23  tipo_de_queja                  10000 non-null  object
 24  puntuacion_csates              10000 non-null  float64
 25  escaladas                      10000 non-null  int64
 26  tasa_apertura_email            10000 non-null  float64
 27  tasa_clics_marketing           10000 non-null  float64
 28  puntuacion_nps                 10000 non-null  int64
 29  respuesta_de_la_encuesta       10000 non-null  object
 30  recuento_de_referencias        10000 non-null  int64
 31  Abandonar                      10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [ ]:
df.tail()

,cliente_id,genero,edad,pais,ciudad,segmento_de_cliente,meses_permanencia,canal_de_registro,tipo_contrato,conecciones_mensuales,...,tiempo_promedio_de_resoluci√≥n,tipo_de_queja,puntuacion_csates,escaladas,tasa_apertura_email,tasa_clics_marketing,puntuacion_nps,respuesta_de_la_encuesta,recuento_de_referencias,Abandonar
9995,CUST_09996,Femenino,67,Alemania,Sydney,SME,37,Web,Anual,15,...,34.240174,Servicio,4.0,1,0.36,0.28,20,Satisfecho,2,0
9996,CUST_09997,Masculino,26,USA,Toronto,Individual,42,Mobile,Anual,13,...,40.092087,No clasificada,4.0,0,0.48,0.06,28,Insatisfecho,2,0
9997,CUST_09998,Femenino,18,Canad√°,Sydney,Individual,39,Mobile,Anual,15,...,25.215810,T√©cnico,1.0,0,0.11,0.07,-30,Satisfecho,1,0
9998,CUST_09999,Femenino,30,USA,Delhi,Individual,52,Web,Mensual,14,...,20.544921,No clasificada,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Masculino,67,UK,Berlin,SME,7,Mobile,Mensual,15,...,23.536914,T√©cnico,4.0,1,0.40,0.30,1,Satisfecho,1,0

### Vac√≠os

In [ ]:
# Vac√≠os o en blanco
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

cliente_id                       0
genero                           0
edad                             0
pais                             0
ciudad                           0
segmento_de_cliente              0
meses_permanencia                0
canal_de_registro                0
tipo_contrato                    0
conecciones_mensuales            0
dias_activos_semanales           0
promedio_coneccion               0
caracter√≠sticas_usadas           0
tasa_crecimiento_uso             0
ultima_coneccion                 0
cuota_mensual                    0
ingresos_totales                 0
m√©todo_de_pago                   0
errores_de_pago                  0
descuento_aplicado               0
aumento_ultimos_3_meses          0
tickets_de_soporte               0
tiempo_promedio_de_resoluci√≥n    0
tipo_de_queja                    0
puntuacion_csates                0
escaladas                        0
tasa_apertura_email              0
tasa_clics_marketing             0
puntuacion_nps                   0
respuesta_de_la_encuesta         0
recuento_de_referencias          0
Abandonar                        0
dtype: int64

Explicaci√≥n del c√≥digo anterior:
Convierte los valores a string (astype(str))

Elimina espacios (strip())

Comprueba si el resultado es '' (string vac√≠o)

Cuenta cu√°ntos hay por columna

Como en todas las columnas se obtuvo 0, entonces:

No hay strings vac√≠os ('')
No hay strings con solo espacios (' ')

### Tipos de datos

Naturaleza de los datos com√∫nmente utilizados:

ID ‚Üí string / object

Categor√≠as / etiquetas ‚Üí object (o category)

Conteos ‚Üí int

Medidas continuas / promedios / tasas ‚Üí float

Flags (s√≠/no) ‚Üí bool o int (0/1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cliente_id                     10000 non-null  object
 1   genero                         10000 non-null  object
 2   edad                           10000 non-null  int64
 3   pais                           10000 non-null  object
 4   ciudad                         10000 non-null  object
 5   segmento_de_cliente            10000 non-null  object
 6   meses_permanencia              10000 non-null  int64
 7   canal_de_registro              10000 non-null  object
 8   tipo_contrato                  10000 non-null  object
 9   conecciones_mensuales          10000 non-null  int64
 10  dias_activos_semanales         10000 non-null  int64
 11  promedio_coneccion             10000 non-null  float64
 12  caracter√≠sticas_usadas         10000 non-null  int64
 13  tasa_crecimiento_uso           10000 non-null  float64
 14  ultima_coneccion               10000 non-null  int64
 15  cuota_mensual                  10000 non-null  int64
 16  ingresos_totales               10000 non-null  int64
 17  m√©todo_de_pago                 10000 non-null  object
 18  errores_de_pago                10000 non-null  int64
 19  descuento_aplicado             10000 non-null  object
 20  aumento_ultimos_3_meses        10000 non-null  object
 21  tickets_de_soporte             10000 non-null  int64
 22  tiempo_promedio_de_resoluci√≥n  10000 non-null  float64
 23  tipo_de_queja                  10000 non-null  object
 24  puntuacion_csates              10000 non-null  float64
 25  escaladas                      10000 non-null  int64
 26  tasa_apertura_email            10000 non-null  float64
 27  tasa_clics_marketing           10000 non-null  float64
 28  puntuacion_nps                 10000 non-null  int64
 29  respuesta_de_la_encuesta       10000 non-null  object
 30  recuento_de_referencias        10000 non-null  int64
 31  Abandonar                      10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

Cambios de tipo de Dtype:

In [ ]:
df[['descuento_aplicado', 'aumento_ultimos_3_meses']].head(10)

  descuento_aplicado aumento_ultimos_3_meses
0                 Si                      No
1                 No                      Si
2                 No                      No
3                 Si                      No
4                 No                      No
5                 No                      No
6                 No                      No
7                 Si                      No
8                 No                      No
9                 No                      No

In [ ]:
df[['descuento_aplicado', 'aumento_ultimos_3_meses']].tail(10)

     descuento_aplicado aumento_ultimos_3_meses
9990                 No                      No
9991                 No                      No
9992                 No                      No
9993                 No                      No
9994                 No                      No
9995                 No                      No
9996                 No                      No
9997                 No                      No
9998                 No                      No
9999                 No                      No

In [ ]:
df['descuento_aplicado'].unique()

array(['Si', 'No'], dtype=object)

In [ ]:
df['aumento_ultimos_3_meses'].unique()

array(['No', 'Si'], dtype=object)

In [ ]:
df['descuento_aplicado'].value_counts(dropna=False)

descuento_aplicado
No    6950
Si    3050
Name: count, dtype: int64

In [ ]:
df['aumento_ultimos_3_meses'].value_counts(dropna=False)

aumento_ultimos_3_meses
No    8055
Si    1945
Name: count, dtype: int64

Ambas columnas son binarias y limpias:

descuento_aplicado ‚Üí ['Si', 'No']

aumento_ultimos_3_meses ‚Üí ['Si', 'No']

No hay: valores raros, espacios, may√∫sculas inconsistentes

An√°lisis de distribuci√≥n

Tus conteos:

descuento_aplicado

No ‚Üí 6.950 (69.5 %)

Si ‚Üí 3.050 (30.5 %)

aumento_ultimos_3_meses

No ‚Üí 8.055 (80.6 %)

Si ‚Üí 1.945 (19.4 %)

En conclusi√≥n:

Son variables desbalanceadas, pero no extremas

Perfectamente utilizables para an√°lisis y ML

In [ ]:
df['descuento_aplicado'] = df['descuento_aplicado'].map({'Si': 1, 'No': 0})
df['aumento_ultimos_3_meses'] = df['aumento_ultimos_3_meses'].map({'Si': 1, 'No': 0})

In [ ]:
df[['descuento_aplicado', 'aumento_ultimos_3_meses']].dtypes
df[['descuento_aplicado', 'aumento_ultimos_3_meses']].value_counts()

descuento_aplicado  aumento_ultimos_3_meses
0                   0                          5610
1                   0                          2445
0                   1                          1340
1                   1                           605
Name: count, dtype: int64

In [ ]:
df

,cliente_id,genero,edad,pais,ciudad,segmento_de_cliente,meses_permanencia,canal_de_registro,tipo_contrato,conecciones_mensuales,...,tiempo_promedio_de_resoluci√≥n,tipo_de_queja,puntuacion_csates,escaladas,tasa_apertura_email,tasa_clics_marketing,puntuacion_nps,respuesta_de_la_encuesta,recuento_de_referencias,Abandonar
0,CUST_00001,Masculino,68,Banglad√©s,Londres,SME,22,Web,Mensual,26,...,13.354360,Servicio,4.0,0,0.71,0.40,27,Satisfecho,1,0
1,CUST_00002,Femenino,57,Canad√°,Sydney,Individual,9,Mobile,Mensual,7,...,25.140088,Facturaci√≥n,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Masculino,24,Alemania,New York,SME,58,Web,Anual,19,...,27.572928,Servicio,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Masculino,49,Australia,Dhaka,Individual,19,Mobile,Anual,34,...,26.420822,T√©cnico,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Masculino,65,Banglad√©s,Delhi,Individual,52,Web,Mensual,20,...,26.674579,T√©cnico,4.0,0,0.65,0.44,21,Insatisfecho,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST_09996,Femenino,67,Alemania,Sydney,SME,37,Web,Anual,15,...,34.240174,Servicio,4.0,1,0.36,0.28,20,Satisfecho,2,0
9996,CUST_09997,Masculino,26,USA,Toronto,Individual,42,Mobile,Anual,13,...,40.092087,No clasificada,4.0,0,0.48,0.06,28,Insatisfecho,2,0
9997,CUST_09998,Femenino,18,Canad√°,Sydney,Individual,39,Mobile,Anual,15,...,25.215810,T√©cnico,1.0,0,0.11,0.07,-30,Satisfecho,1,0
9998,CUST_09999,Femenino,30,USA,Delhi,Individual,52,Web,Mensual,14,...,20.544921,No clasificada,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Masculino,67,UK,Berlin,SME,7,Mobile,Mensual,15,...,23.536914,T√©cnico,4.0,1,0.40,0.30,1,Satisfecho,1,0

In [ ]:
df.to_csv('df_etl.csv',
    index=False,
    encoding='utf-8')